@keyframes blob {
  0%,
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
    border-radius: 60% 40% 55% 45% / 55% 65% 35% 45%;
  }
  33% {
    transform: translate(30px, -50px) scale(1.1) rotate(5deg);
    border-radius: 50% 60% 40% 60% / 70% 40% 60% 40%;
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9) rotate(-5deg);
    border-radius: 60% 55% 65% 50% / 40% 60% 40% 60%;
  }
}

.animate-blob {
  animation: blob 7s ease-in-out infinite;
  will-change: transform, border-radius;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
